.main-container{
    height:100%;
    width:100%;

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem 0.5rem;

    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.column {
    padding: 20%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    position: static;
  }

  .product-card-main{
      padding-bottom: 30%;
  }


  /* description */

  .product-description-wrap{
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 7%;
  }
   

.subheading{
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3.4em;
    padding-bottom: 1em;
    font-size: 200%;
}

.heading-adjust{
    padding-left: 5%;
}


.product-card-main{
    display: grid;
    grid-template-rows: 0.05fr 1fr 0.1fr 0.05fr;
    grid-template-columns: 1fr; 
    font-size: 350%;
}





/* product card */
/* 2x3 vs 2x2 grid */
.two_by_two{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1em 1.5em; 
}


.album-text{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.2em;
}


  /* CD + LP */
.tag-wrap{
    display: grid; 
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr; 
    gap: 0.2em 0.2em; 

    padding-top: 0.3em; 
    padding-bottom: 0.3em; 
    position: static;
    align-content: center;
}

/* .format{
    padding-top: 0.5em;
    padding-bottom: 0.3em;
} */

.artist-album-wrap{
    display: grid;
    grid-template-rows: 1fr 1fr;
    line-height: 70%;
    padding: 1%;
}

.album-description-product{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}


.play-btn{
    object-fit: cover;
    width: 500em;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 2px solid rgb(255, 255, 255);
  }







  /* CD + LP */
.tag-wrap-main {
    display: grid; 
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 8%;
    padding-left: 8%;

    position: static;
    align-content: center;

}

.format-main{
    padding-top: 0.1em;
    width: 80%;
}

.price-cart-wishlist{
    display: grid;
    grid-template-columns: 3fr 1fr; 
    column-gap: 1%;
    max-width: 10em;
    padding-top: 10%;
}

.pad-right{
    display: grid;
    padding-top: 10%;
}


.price-main{
    padding-top: 5%;
    padding-left: 12%;
    font-weight: bolder;
}

.wishlist{
    padding-top: 7%;
}

.add-to-cart-shop{
    grid-column-start: 8;
}




/* genres */
.genre-wrap{
    box-sizing: border-box;
    display: block;
    padding-bottom:25%;
}

.genre{
    display: flex;
    flex-wrap: wrap;
}

.genre-items{
    font-style: italic;
    font-size: 150%;
    width: auto;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 5%;
    color: white;
    border: 2px solid rgb(255, 255, 255);
}

/* tracklist */

.subheading-track{
    box-sizing: content-box;
    margin-left: 5%;
    margin-right: auto;
    padding-bottom: 1em;
    font-size: 200%;
}

.tracklist-wrap{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-gap: 1rem 0.5rem;
}

.tracklist{
    display: inline-flex;
    flex-wrap: nowrap;
    flex: 1 2 auto;
    flex-direction: column;
    max-width:15em;
    padding-left: 6%;
}

.song-item{
    display:inline-flex;
    justify-content: space-between;
    padding-bottom: 3%;
}

.song-item-text{
    font-size: 85%;
    letter-spacing:6px;
}

.play-btn{
    flex-basis: 15%;
}

.song-title{
    flex-basis: 70%;
}



/* decoraction */
.page-split{
    display: fixed;
    z-index: 90;
}


.vertical-line{
    position: absolute;
    top: 8%;
    left: 50%;
    z-index: 10;
    width: 1px;
    height: 80%;
    background-color: #fff;
    justify-content: center;
}

/* .disc{
    width: 5em;
    height:auto;
    padding-top: 70em;
    padding-right: 2em;
} */



/* desktop */
@media screen and (min-width: 1024px){
    :root{
        font-size: 15px;
    }

    .tracklist{
        max-width: 20em;
    }


}



@media screen and (max-width: 768px){
    :root{
        font-size: 10px;
    }


    .vertical-line{
        display: none;
    }
    .disc{
        display: none;
    }


    .main-container{
        height:500%;
        width:100%;
        padding-left: 50%;
        padding-right: 50%;

        display:grid;
        grid-template-columns: repeat(1,2fr);
        grid-gap: 1rem 0.5rem;

            
        
        margin: auto;
        justify-content: center;

    }


    .recommendations{
        padding-top: 10%;
    }



    .price-cart-wishlist{
        display: flex;
        flex-wrap: nowrap;
        /* flex-direction: column; */
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        padding-top: 10%;
    }


    .price-main{
        padding-left: 4%;
    }

    .small-play{
        height: 0.5em;
        width: 0.5em;
    }

    .small{
        height: 1em;
        width: 1em;
    }

    .wishlist{
        padding-bottom: 2%;
    }











    .tracklist{
        max-width:15em;
    }
    
    .song-item{
        display:inline-flex;
        justify-content: space-between;
        padding-bottom: 3%;
    }
    
    .song-item-text{
        font-size: 85%;
        letter-spacing:1px;
        padding-top: 2.5%;
    }
    
    .play-btn{
        flex-basis: 15%;
    }
    
    .song-title{
        flex-basis: 70%;
    }


}


